:root {
    --primary-color: #357b70;
    --secondary-color: #ebed7d;
    --third-color: #f14f4f;
    --heading-font-weight: 80;
}


body {
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    font-size: 18px;
    /* Sets the font size to 18px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
    text-transform: capitalize;
    background-color: rgb(206, 202, 202);
    color: black;
} 

.list-group-item {
        background-color: var(--secondary-color);
        background: linear-gradient(100deg, var(--secondary-color), white, var(--third-color));
        text-align: center;
}

.btn {
    padding: 5px 10px;
    text-transform: capitalize;
    font-size: 18px;
    margin: 10px 10px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    background-color: #2082c8;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 30px;
}






